:root {
    --white-color: #efeff1;
    --black-main-page-color: #0e0e10;
    --black-header-color: #18181b;
    --btn-purple-color: #772ce8;
    --link-purple-color: #bf94ff;
    --btn-gray-color: rgba(83, 83, 95, 0.38);
    --overlay-color: rgba(0, 0, 0, 0.6);
    --border-input-color: hsla(240,8%,88%,.4);
    --black-sidenav-color: #1f1f23;
    --red-color: #eb0400;
    --btn-gray-hover-color: rgba(83, 83, 95, 0.48);
    --btn-purple-hover-color: #9147ff;
    --border-input-focus-color: #a970ff;
    --ashy-color: #adadb8;
}
  
.login-modal * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    border-radius: 5px;
    cursor: default;
    text-decoration: none;
}

.login-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.login-modal button {
    cursor: pointer;
}

.login-modal p {
    color: #efeff1;
    line-height: 2;
    font-weight: 600;
    font-size: 15px;
}

.login-modal input {
    height: 30px;
    appearance: none;
    background-clip: padding-box;
    display: flex;
    width: 100%;
    line-height: 1.5;
    border-style: solid;
    border-width: 0;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px var(--border-input-color);
    color: var(--white-color);
    background-color: var(--black-header-color);
    padding: 5px 10px;
    cursor: text;
    margin-left: 5px;
}

.login-modal input:hover {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--border-input-color);
}
  
.login-modal input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--border-input-focus-color), inset 0 0 0 2px var(--border-input-focus-color);
}

.login-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.85);
    align-items: flex-start;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login-box {
    width: 500px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--black-header-color);
}

.close-btn {
    justify-content: end;
    display: flex;
    width: 100%;
    height: 30px;
    padding: 5px;
}

.close-btn button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    fill: var(--white-color);
}

.close-btn button:hover {
    background-color: var(--btn-gray-hover-color);
}

.login-title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.login-title svg {
    width: 50px;
    height: 50px;
    fill: var(--border-input-focus-color);
}

.login-title h4 {
    padding-left: 10px;
    color: var(--white-color);
    line-height: 1.2;
    font-weight: 600;
    font-size: 24px;
}

.login-form {
    padding: 30px;
    width: 100%;
    height: 100%;
}

.login-username {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

.login-pass {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

.login-trouble {
    width: 100%;
    margin-top: 20px;
}

.login-trouble a {
    text-decoration: none;
    color: var(--link-purple-color);
    width: fit-content;
    font-size: 12px;
    line-height: 1.5;
    cursor: pointer;
}

.login-trouble a:hover {
    text-decoration: underline;
    color: var(--border-input-focus-color);
}

.login-trouble a p {
    width: fit-content;
    color: inherit;
    font-size: 12px;
    line-height: 1.5;
    cursor: pointer;
}

.login-btn {
    margin-top: 15px;
}

.login-btn button {
    width: 100%;
    height: 30px;
    font-weight: 600;
    font-size: 13px;
    background-color: var(--btn-purple-color);
    color: var(--white-color);
    border: none;
    margin-top: 15px;
}

.login-btn button:hover {
    background-color: var(--btn-purple-hover-color);
}  

.signup-btn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 30px;
}

.signup-btn button {
    background-color: transparent;
    color: var(--link-purple-color);
    width: 100%;
    height: 30px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 13px;
    border: none;
}

.signup-btn button:hover {
    color: var(--white-color);
    background-color: var(--btn-gray-hover-color);
    fill: var(--white-color);
}